*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  line-height: 1;
}

input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/*----------------------*/
body {
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  flex: 1 1 auto;
}

.main-block {
  background-color: #445162;
  padding: 50px 0;
}
.main-block__flex-container {
  display: flex;
  justify-content: space-between;
}
.main-block__flex-element {
  color: #ffffff;
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.3);
  padding-right: 30px;
}
.main-block__title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 38px;
}
.main-block__list li {
  font-size: 20px;
  line-height: 180%; /* 36/20 */
  padding-left: 35px;
  background: url(../img/main-block/check.png) 0 5px no-repeat;
}
.main-block__list li:not(:last-child) {
  margin-bottom: 5px;
}
.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.what-is {
  padding: 50px 0;
}
.what-is__flex-container {
  display: flex;
}
.what-is__picture {
  flex: 0 0 430px;
}
.what-is__picture img {
  max-width: 100%;
}
.what-is__flex-element--2 {
  flex: 1 1 auto;
  padding-left: 40px;
}
.what-is__title {
  margin-bottom: 30px;
}
.what-is__text p:not(:last-child) {
  margin-bottom: 25px;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}
.columns__title {
  margin-bottom: 30px;
  text-align: center;
}
.columns__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.columns__card-envelope {
  flex: 0 1 50%;
  padding: 0 8px;
}
.columns .card {
  display: flex;
  margin: 0 0 30px 0;
}
.columns .card__picture {
  flex: 0 0 200px;
}
.columns .card__picture img {
  max-width: 100%;
}
.columns .card__text {
  flex: 1 1 auto;
  margin-left: 15px;
}
.columns .card__title {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
  margin-bottom: 18px;
}

.vertical-align {
  padding: 50px 0;
}
.vertical-align__title {
  text-align: center;
  margin-bottom: 33px;
}
.vertical-align__cards-envelope--limit-width {
  max-width: 990px;
  margin: 0 auto;
}
.vertical-align__cards {
  display: flex;
  margin: 0 -22.5px;
}
.vertical-align__cards-envelope--for-gap {
  padding: 0 22.5px;
  flex: 0 1 33.333%;
  display: flex;
}
.vertical-align .cards-envelope--1 {
  order: 3;
  align-self: flex-end;
}
.vertical-align .cards-envelope--2 {
  order: 2;
}
.vertical-align .cards-envelope--3 {
  order: 1;
  align-self: flex-start;
}
.vertical-align__card {
  display: flex;
  flex-direction: column;
  background-color: #445162;
  border: 2px solid #445162;
  border-radius: 5px;
  color: #fff;
}
.vertical-align .card {
  padding-bottom: 20px;
}
.vertical-align .card__pretitle {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 17px 15px;
}
.vertical-align .card__title {
  background-color: #fff;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  text-align: center;
  padding: 25px 15px;
}
.vertical-align .card__text {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.vertical-align .card__text p:not(:last-child) {
  margin-bottom: 35px;
}
.vertical-align .card__button {
  display: block;
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  color: #445161;
  font-weight: bold;
  text-align: center;
  margin: 0 20px;
  padding: 13px;
  border-radius: 10px;
}

.footer {
  background-color: #f5f5f5;
}
.footer__flex-container {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__flex-element {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #445162;
}